[submodule "ext/tug"]
	path = ext/tug
	url = ../tug.git

[submodule "ext/iphreeqc"]
	path = ext/iphreeqc
	url = ../iphreeqc.git
[submodule "ext/dht"]
	path = ext/dht
	url = https://gitup.uni-potsdam.de/mluebke/dht_ucx.git
