[submodule "ext/tug"]
	path = ext/tug
	url = ../tug.git

[submodule "ext/iphreeqc"]
	path = ext/iphreeqc
	url = ../iphreeqc.git
[submodule "ext/naa-communication-prototype"]
	path = ext/naa-communication-prototype
	url = gfz:naaice/naa-communication-prototype.git
